* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-family: 'Shadows Into Light Two', cursive;
    color: #000;
    font-size: 320%;
}

h6 {
    font-family: 'Shadows Into Light Two', cursive;
    color: #000;
}

.container {
    background-color: #ff8040;
    height: 100vh;
}

/* ===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
	width: 12px;
}

*::-webkit-scrollbar-track {
	background: #771216;
}

*::-webkit-scrollbar-thumb {
	background-color: #fca650;
	border-radius: 10px;
	border: 3px solid #ffffff;
}